.wrapper{
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
.wrapper_header{
    display: flex;
    flex-direction: column;
}
.wrapper_title{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}
.wrapper_title_2{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    font-weight: bold;
}
.title{
    color: #55B2D4;
    font-size: 13px;
}

.title_1{
    color: black;
    font-size: 8px;
    margin-top: 1px;
    margin-left: 6px;
}


.albumWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
.img_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
    
}
.Mu_header{
    margin-top: 5px;
    color: #0F465E;
    font-size: 11px;
    
}
.Mu_body{
    color: #999999;
    font-size: 10px;
}

table{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-top: 2px solid #808080;
    border-spacing: 0px;
}
td{
    border-bottom: 2px dotted #999999;
    font-size: 12px;
    
}
.number{
    text-align: center;
}
.table_header{
    background-color: #dfdede;
    color: #727272;
    font-weight: bold;
}
.mu_col{
    color: #0c445c;
}
/*text-align: center;*/